.hide-bullets {
  list-style:none;
  margin-left: -40px;
  margin-top:20px;
}

.thumbnail {
  padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
  width: 100%;
}
.subTitle{
  font-family: 'Farsan', cursive;
  color: #912b2b;
  font-size: 35px;
}
.h5.subTitleb{
  font-family: 'Clicker Script', cursive;
}

.navbar-default{
  background-color: #0d0d0d;
  border-color: #FFFFFF;
  color: red;
}
.navbar-default .bavbar-brand {
  color: #FFFFFF;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #18BC9C;
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus
{
  color: #FFFFFF;
  background-color: #242222;
}
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #18BC9C;
}

.navbar-default .navbar-nav >  .open > a,
.navbar-default .navbar-nav >  .open > a:hover,
.navbar-default .navbar-nav >  .open > a:focus{

  background-color: #1A242F;
  color: #FFFFFF;
}
.btn-primary {
  background-color: #2C3E50;
  border-color: #2C3E50;
  color: #FFFFFF;
}
.row.navbar-nav{
  margin-bottom: -18px;

}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary{
  color: #FFFFFF;
  background-color: #1E2A36;
  border-color: #161F29;
}

.div-container{
  padding-top: 150px;

}
.div-container-Produtos{
  padding-top: 100px;

}
#lead {
  margin-top: 50px;
  text-align: center;
  line-height: 20px;
}

.carousel-inner {
  position: absolute;
  overflow: hidden;

  max-width: 100%;
  height: auto;
}

.carousel-inner img{
height: 550px;
}
element {
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 650px;
}

.carousel-inner > .item > a >
img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    display: block;
    max-width: 100%;
  }
.featurette-image {
  padding-top: 90px;
  width: 90%;
}
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe;

}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px

}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600;

  }
.fa a{
  padding-top: 10px;
}
.caption{

  text-align: center;
}
.card-img-top{
  width: 100px;
  height: 100px;
}

.style1 hr{
	"border-top: 1px solid #8c8b8b;
   width:100%;
   align center;
}
